*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262626;
}

.sweet-cow-dashboard-container  {
    width: 360px;
    height: 640px;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sweet-cow-dashboard-container-toolbar{
    width: 100%;
    height: 50px;
    padding-left: 10px;

    background: var(--cor1);
    color:white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.sweet-cow-dashboard-container-toolbar-menu{
    width: auto;
    height: auto;
    margin-right: 15px;
    font-size: 25px;
}
.sweet-cow-dashboard-container-toolbar-title{
    font-size: 17px;
}
.sweet-cow-dashboard-container-content{
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sweet-cow-dashboard-container-content-paragraph{
    width: 95%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sweet-cow-dashboard-container-content-paragraph-title{
    color: black;
    font-size: 18px;
} 
.sweet-cow-dashboard-container-content-paragraph-info{
    color: rgb(218, 0, 0);
    font-size: 12px;
    margin-left: 5px;
} 
.sweet-cow-dashboard-container-content-paragraph-input{
    width: 100%;
    height: 50px;
    border-color: #353535;
    border-radius: 5px;
    border-style: solid;
    background-color: #f7f7f7;
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
}

.sweet-cow-dashboard-container-content-button{
    width: 90%;
    height: 50px;
    border-style: none;
    border-radius: 5px;
    background-color: var(--cor1);
    color: white;
    font-size: 16px;
}